.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.inc {
  font-size: 1.3rem;
  color: #fff;
  background-color: rgb(19, 236, 128);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 10rem;
}
.dec {
  font-size: 1.3rem;
  color: #fff;
  background-color: rgb(211, 34, 11);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 10rem;
}
